.container-fluid{
font-family: 'Merriweather', serif;
}

.aside{
font-family: 'Red Hat Mono', monospace;
}

.footer{
font-family: 'Oswald', sans-serif;
}

.header{
font-family: 'Rubik', sans-serif;	
}